@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/481/383/non_2x/blue-chat-bubbles-on-blue-background-conversation-concept-3d-illustration-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
